<form
  hx-post="/api/blog"
  hx-trigger="submit"
  class="flex flex-col space-y-4"
  hx-swap="afterbegin"
  hx-target="#blog-list"
  hx-on="htmx:afterRequest:resetForm(event)"
>
  <div class="flex space-x-4">
    <div class="w-1/2">
      <label for="text-input" class="block text-sm font-medium text-gray-600"
        >Title</label
      >
      <input
        required
        type="text"
        id="text-input"
        name="title"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>

    <div class="w-1/2">
      <label for="date-input" class="block text-sm font-medium text-gray-600"
        >Date</label
      >
      <input
        required
        type="date"
        id="date-input"
        name="date"
        class="mt-1 p-2 w-full border rounded-md"
      />
    </div>
  </div>

  <div>
    <label for="textarea" class="block text-sm font-medium text-gray-600"
      >Content</label
    >
    <textarea
      id="textarea"
      name="content"
      rows="4"
      class="mt-1 p-2 w-full border rounded-md"
    ></textarea>
  </div>

  <div class="flex items-center mb-4">
    <input
      type="checkbox"
      id="publish"
      name="publish"
      class="form-checkbox h-5 w-5 text-cyan-500"
    />
    <label for="publish" class="ml-2 text-gray-700">Publish</label>
  </div>

  <div>
    <button
      type="submit"
      class="w-full bg-cyan-500 text-white p-2 rounded-md hover:bg-cyan-600"
    >
      Submit
    </button>
  </div>
</form>

<script>
  const easyMDE = new EasyMDE();
  function resetForm(event) {
    if (event.detail.successful) {
      event.target.reset();
      easyMDE.value("");
    }
  }
</script>
