<div
  class="my-8 p-4 rounded-md shadow-md relative
  {{ if and (not .IsPublished) .IsBeforeDate }}
    bg-pink-50
  {{ else if not .IsPublished }}
    bg-red-50
  {{ else if .IsBeforeDate }}
    bg-blue-50
  {{ else }}
    bg-white
  {{ end }}"
>
  <a
    href="/blog/{{ .Id }}/edit"
    class="absolute top-2 right-2 text-gray-500 hover:text-gray-700"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      class="h-6 w-6"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M15 3a2 2 0 012 2v14a2 2 0 01-2 2H5a2 2 0 01-2-2V5a2 2 0 012-2h10zm4 2a2 2 0 011.447.608l1.94 1.94a2 2 0 010 2.828l-8.12 8.12-4.122.573a1 1 0 01-1.244-1.244l.573-4.122 8.12-8.12a2 2 0 012.828 0z"
      />
    </svg>
  </a>

  <h3 class="text-xl font-semibold mb-2">{{ .Title }}</h3>
  <p class="text-gray-600">{{ .Date.Format "January 2, 2006" }}</p>

  <div md class="mt-4 whitespace-pre text-wrap">{{ .ContentPreview }}</div>

  {{ if .HasPreview }}
  <a href="/blog/{{ .Id }}" class="text-blue-500 hover:underline font-semibold"
    >Read more</a
  >
  {{ end }}
</div>
