<div class="min-h-screen py-4">
  <div class="max-w-xl mx-auto">
    <h2 class="text-2xl font-semibold">Blog</h2>

    {{ if eq .Environment "development" }}
    <div class="max-w-xl my-4 mx-auto bg-white p-6 rounded-md shadow-md">
      {{ template "partials/blog-form" }}
    </div>
    {{ end }}

    <div id="blog-list">
      {{ range .Blogs }} {{ template "partials/blog-post" . }} {{ end }}
    </div>
  </div>
</div>

<script>
  window.addEventListener("load", function () {
    document.querySelectorAll("[md]").forEach(function (element) {
      element.innerHTML = marked.parse(element.innerHTML);
    });
  });
</script>
