<header
  class="bg-gradient-to-tr from-cyan-600 to-cyan-300 text-white h-screen flex flex-col justify-center items-center px-4"
>
  <h1 class="text-center text-3xl md:text-4xl font-bold mb-4">
    Tech Solutions Specialist
  </h1>
  <p class="text-center text-lg">
    Crafting innovative solutions for your business needs.
  </p>
  <a
    class="bg-rose-400 mt-4 text-white py-2 px-4 rounded-md hover:bg-rose-500 focus:outline-none focus:shadow-outline-white active:bg-rose-600"
    href="#contact"
    >Reach out</a
  >
</header>

<section class="py-8 px-4">
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">About Me</h2>

    <p class="text-lg pb-4 text-gray-700 leading-relaxed">
      Hi! I'm Derek, a results-driven software specialist with a knack for
      turning ideas into powerful digital solutions. From creating sleek web
      apps to solving complex problems, I bring creativity and technical
      expertise to every project.
    </p>

    <p class="text-lg pb-4 text-gray-700 leading-relaxed">
      With a background in all aspects of software engineering, I thrive in
      solving business problems using software. I'm not just about writing code;
      I'm about crafting experiences that make a lasting impact.
    </p>

    <p class="text-lg pb-4 text-gray-700 leading-relaxed">
      Let's build something amazing together. Whether you need a robust backend,
      an intuitive frontend, or both - I've got you covered. Ready to bring your
      digital vision to life? Let's chat!
    </p>
  </div>
</section>

<section id="contact" class="bg-gray-200 py-8 px-4">
  <div class="container mx-auto">
    <h2 class="text-2xl font-bold mb-4">Contact Me</h2>
    <p class="text-gray-700">Interested in working together? Reach out!</p>
    <div class="pt-8">{{ template "partials/contact-form" }}</div>
  </div>
</section>
