package music

import (
	"fmt"
	"github.com/drkgrntt/htmx-test/components/contact"
	"github.com/drkgrntt/htmx-test/components/layout"
	"github.com/gofiber/fiber/v2"
)

templ Page(c *fiber.Ctx) {
	@layout.Render(c) {
		@MusicPage()
	}
}

templ MusicPage() {
	<header
		class="bg-gradient-to-tr from-cyan-600 to-cyan-300 text-white h-screen flex flex-col justify-center items-center px-4"
	>
		<h1 class="text-center text-3xl md:text-4xl font-bold mb-4">
			KC Guitarist
		</h1>
		<p class="text-center text-lg">
			New uploads daily
		</p>
		<a
			class="bg-rose-400 mt-4 text-white py-2 px-4 rounded-md hover:bg-rose-500 focus:outline-none focus:shadow-outline-white active:bg-rose-600"
			href="https://youtube.com/@derekgarnettmusic"
			target="_blank"
		>
			Check it out
		</a>
	</header>
	@section("Most Recent Upload", "bg-gray-200") {
		<div class="flex justify-center items-center w-full">
			<div class="w-full max-w-[560px] aspect-video">
				<iframe
					class="w-full h-full"
					src="https://www.youtube.com/embed/VIDEO_ID?list=PLUOeVtOmt_FD9DZMasiU5HWQu9toAdxQw&index=1"
					frameborder="0"
					allowfullscreen
				></iframe>
			</div>
		</div>
	}
	@section("Some of My Favorites", "") {
		<div class="flex flex-col items-center gap-6 w-full">
			<div class="w-full max-w-[560px] aspect-video">
				<iframe
					class="w-full h-full"
					src="https://www.youtube.com/embed/VIDEO_ID?list=PLUOeVtOmt_FBLusl2SfDe_Tclore008gB&index=1"
					frameborder="0"
					allowfullscreen
				></iframe>
			</div>
			<div class="w-full max-w-[560px] aspect-video">
				<iframe
					class="w-full h-full"
					src="https://www.youtube.com/embed/VIDEO_ID?list=PLUOeVtOmt_FBLusl2SfDe_Tclore008gB&index=2"
					frameborder="0"
					allowfullscreen
				></iframe>
			</div>
			<div class="w-full max-w-[560px] aspect-video">
				<iframe
					class="w-full h-full"
					src="https://www.youtube.com/embed/VIDEO_ID?list=PLUOeVtOmt_FBLusl2SfDe_Tclore008gB&index=3"
					frameborder="0"
					allowfullscreen
				></iframe>
			</div>
		</div>
	}
	@section("Reach out", "bg-gray-200") {
		// <p class="text-gray-700">Interested in working together? Reach out!</p>
		<div class="pt-8" id="contact">
			@contact.ContactForm()
		</div>
	}
}

templ section(title string, class string) {
	<section class={ fmt.Sprintf("py-12 px-4 %s", class) }>
		<div class="max-w-3xl mx-auto">
			<h2 class="text-2xl font-bold mb-4">{ title }</h2>
			{ children... }
		</div>
	</section>
}

templ service(text string) {
	<p
		class="bg-cyan-500 text-white py-2 px-4 rounded-md hover:bg-cyan-700 focus:outline-none focus:shadow-outline-cyan active:bg-cyan-800"
	>
		{ text }
	</p>
}
